{% extends "base_search.html" %}
{% block search_input %}
    <h2>Search by list of ECLI codes</h2>
    <form action="{{ url_for('query_eclis') }}" method="post">
    <dl>
      <dt>Title:
      <dd><input type="text" name="title">
      <dt>Provide a list ECLI identifiers for the network. Each line should contain exactly one ECLI identifier.
      <dd>  <textarea  rows="10" cols="50" class="eclis_csv" name="eclis"></textarea>
        <dd><input type="submit" value="Search">
    </dl>
  </form>
{% endblock %}

{% block search_result %}

        {% if nr_results or nr_results==0 %}
        {{nr_results}} results found.
        {% endif %}
        {% if nodes_file %}
            <div class="button">
            <form action="{{url_for('download_file', filename=nodes_file, filename_out='nodes.csv')}}">
                <input type="submit" value="Download nodes (csv)">
            </form>
            </div>
        {% endif %}
        {% if links_file %}
            <div class="button">
            <form action="{{url_for('download_file', filename=links_file, filename_out='links.csv')}}">
                <input type="submit" value="Download links (csv)">
            </form>
            </div>
        {% endif %}
        {% if network_file %}
            <div class="button">
            <form action="{{url_for('download_file', filename=network_file, filename_out='network.json')}}">
                <input type="submit" value="Download network (json)">
            </form>
            </div>
        {% endif %}
{% endblock %}