{% extends "base.html" %}

{% block content %}
 <p>This application is developed for the <a href="https://www.esciencecenter.nl/project/case-law-analytics" target="_blank">Case Law Analytics project</a> by Maastricht University
and the <a href="https://www.esciencecenter.nl/" target="_blank">Netherlands eScience Center</a>.
Source code is available at <a href="https://github.com/caselawanalytics/CaseLawAnalytics" target="_blank">github</a>.
 </p>
<p>
    This application can be used to obtain a json file for the <a href="https://nlesc.github.io/case-law-app/" target="_blank">case law visualization app</a>.
    It also outputs a csv file with network analysis variables, to analyze in e.g. excel.

</p>
<p>
 <a href="https://github.com/NLeSC/CaseLawAnalytics/releases" target="_blank">Release notes v{{version}}</a>
</p>
{% endblock %}