{% extends "base_search.html" %}
{% block search_input %}
    <h2>Search by list of links</h2>
    <form action="{{ url_for('query_links') }}" method="post">
    <dl>
      <dt>Title:
      <dd><input type="text" name="title">
      <dt>Provide ECLI identifiers for the links. Each line should contain two ECLI identifiers (source and target), separated by a comma.
      <dd>  <textarea  rows="10" cols="50" class="links_csv" name="links"></textarea>
        <dd><input type="submit" value="Search">
    </dl>
  </form>
{% endblock %}

{% block search_result %}
    {% if json_file %}
        <div class="button">
        <form action="{{url_for('download_file', filename=json_file)}}">
            <input type="submit" value="Download JSON">
        </form>
        </div>
    {% endif %}
    {% if csv_file %}
        <div class="button">
            <form action="{{url_for('download_file', filename=csv_file)}}">
                <input type="submit" value="Download CSV">
            </form>
        </div>
    {% endif %}
{% endblock %}