{% extends "base_search.html" %}
{% block search_input %}
    <form action="{{url_for('search_query')}}" method="post">
        <h2>Keyword</h2>
        <dd>  <input type="text" name="keyword"></input>
    {% for parameter in values %}
        <h2>{{parameter[0]}}</h2>
        {% for value in parameter[1] %}
            <input type="checkbox" name="{{parameter}}" value="{{ value.Identifier }}">{{ value.Title }}<br>
          {% endfor %}
    {% endfor %}
        <dd><input type="submit" value="Search">
    </form>
{% endblock %}

{% block search_result %}

        {% if nr_results or nr_results==0 %}
        {{nr_results}} results found.
        {% endif %}
        {% if nodes_file %}
            <div class="button">
            <form action="{{url_for('download_file', filename=nodes_file, filename_out='nodes.csv')}}">
                <input type="submit" value="Download nodes (csv)">
            </form>
            </div>
        {% endif %}
        {% if links_file %}
            <div class="button">
            <form action="{{url_for('download_file', filename=links_file, filename_out='links.csv')}}">
                <input type="submit" value="Download links (csv)">
            </form>
            </div>
        {% endif %}
        {% if network_file %}
            <div class="button">
            <form action="{{url_for('download_file', filename=network_file, filename_out='network.json')}}">
                <input type="submit" value="Download network (json)">
            </form>
            </div>
        {% endif %}
{% endblock %}