<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Case Law Querier</title>
</head>
<body>
    <h1>Case Law Querier</h1>
    <div class="formpage">
          {% if error %}<p class="error"><strong>Error:</strong> {{ error }}{% endif %}
        <div class="form">
            <h2>Search by list of links</h2>
            <form action="{{ url_for('query_links') }}" method="post">
            <dl>
              <dt>Title:
              <dd><input type="text" name="title">
              <dt>Provide ECLI identifiers for links. Each line should contain the ECLI identifiers for the from and to nodes, separated by commas.
              <dd>  <textarea  rows="10" cols="50" class="links_csv" name="links"></textarea>
                <dd><input type="submit" value="Search">
            </dl>
          </form>
        </div>

        <div class="form">
            <h2>Result</h2>
            {% if network_json %}
                <form action="{{url_for('download_json')}}" method="post">
                    <textarea  rows="10" cols="50" class="network_output" name="network_json"> {{ network_json }}</textarea>
                    <input type="submit" value="Download JSON">
                </form>
            {% endif %}
            {% if network_csv %}
                <form action="{{url_for('download_csv')}}" method="post">
                    <textarea  rows="10" cols="50" class="network_output" name="network_csv"> {{ network_csv }}</textarea>
                    <input type="submit" value="Download CSV">
                </form>
            {% endif %}

        </div>

    </div>
</body>
</html>